body{
    width: 100%;
    height: 100vh;
    margin: 0;
    font-size: 16px;
    background-color: blue;
    color: white;
  }
  
  #title, #description{
    text-align: center;
    margin: 1em auto;
  }
  
  form{
    width: 60 vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  
  input,
  textarea {
    margin: 10px 0;
    width: 100%;
    min-height: 2em;
  }
  
  label{
    display: block;
    
  }
  
  input[type="radio"]{
  width: unset;
  vertical-align: middle;
  margin: 0 0.5em 0 0;
  }
  input[type="checkbox"]{
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
  }
  button{
    margin: 1em auto;
    width: 60%;
    display: block;
  }